package logger

import (
	"log"
	"os"
	"time"

	"github.com/sirupsen/logrus"
)

func InitLogger(app, logLevel string) {
	InitLogrus(app, logLevel)
}

// InitLogrus init logrus as instance.
func InitLogrus(app, logLevel string) *logrus.Entry {
	logEntry := logrus.New()
	level, err := logrus.ParseLevel(logLevel)
	if err != nil {
		log.Println("Error parsing log level, using: info")
		level = logrus.InfoLevel
	}
	logEntry.Level = level

	if path != "" {
		f, err := os.OpenFile(path, os.O_CREATE|os.O_RDWR|os.O_APPEND, 0644)
		if err != nil {
			log.Fatalln("Open log file failed.", err)
		}
		logEntry.SetOutput(f)
	}

	Formatter := new(logrus.JSONFormatter)
	Formatter.TimestampFormat = time.RFC3339
	logEntry.SetFormatter(Formatter)
	log := logEntry.WithField("app", app)
	instance = log
	return log
}
