package logger

import (
	"log"
	"os"
	"time"

	"github.com/sirupsen/logrus"
)

// InitLogrus init logrus as instance.
func InitLogrus(app, logLevel string, opts ...LogOption) *logrus.Entry {
	opt := defaultLogOptions()
	for _, o := range opts {
		o.apply(&opt)
	}

	level, err := logrus.ParseLevel(logLevel)
	if err != nil {
		log.Println("Error parsing log level, using: info")
		level = logrus.InfoLevel
	}
	logrus.SetLevel(level)

	if opt.logFilePath != "" {
		f, err := os.OpenFile(opt.logFilePath, os.O_CREATE|os.O_RDWR|os.O_APPEND, 0644) // nolint
		if err != nil {
			log.Fatalln("Open log file failed.", err)
		}
		logrus.SetOutput(f)
	}

	format := new(logrus.JSONFormatter)
	format.TimestampFormat = time.RFC3339
	logrus.SetFormatter(format)

	log := logrus.StandardLogger().WithField("app", app)
	if opt.replaceGlobal {
		instance = log
	}
	return log
}
