package demo

import (
	"context"

	proto "{{.module}}/ui/grpc/demo/proto"
	"google.golang.org/grpc/peer"
	"google.golang.org/protobuf/types/known/emptypb"
	"google.golang.org/protobuf/types/known/wrapperspb"
)

type Demo struct {
	proto.DemoServer
}

func (d *Demo) Ping(ctx context.Context, empty *emptypb.Empty) (*emptypb.Empty, error) {
	return &emptypb.Empty{}, nil
}

func (d *Demo) Ip(ctx context.Context, empty *emptypb.Empty) (*wrapperspb.StringValue, error) {
	if p, in := peer.FromContext(ctx); in {
		return &wrapperspb.StringValue{Value: p.Addr.String()}, nil
	}
	return &wrapperspb.StringValue{Value: "UNKNOW"}, nil
}
