syntax = "proto3";

import "google/protobuf/empty.proto";
{{if .gateway}}
import "google/api/annotations.proto";
{{end}}}

package api.demo.v1;
option go_package = "api/demo/v1";

service DemoService {
{{if .gateway}}
    rpc Ping(google.protobuf.Empty) returns (google.protobuf.Empty) {
        option (google.api.http) = {
            get: "/v1/demo/ping"
        };
    }

    rpc IP(google.protobuf.Empty) returns (IPResponse) {
        option (google.api.http) = {
            get: "/v1/demo/ip"
        };
    }
{{else}}
rpc Ping(google.protobuf.Empty) returns (google.protobuf.Empty);
rpc IP(google.protobuf.Empty) returns (IPResponse);
{{end}}
}

message IPResponse {
    string ip = 1;
}