package main

import (
	"context"

	"{{.module}}/internal/conf"
	"{{.module}}/pkg/application"
	"{{.module}}/pkg/logger"
)

var (
	Version     string
	BuildTime   string
	GoVersion   string
	GitRevision string
)

func main() {
	// 初始化配置文件
	config := conf.InitConfig()

	// 打印版本信息
	log := logger.Get()
	printVerion(log)

	// app 初始化
	app := NewApplication(log, config)

	// 启动 app
	app.Up()

	// app 优雅退出
	if rerr := app.WaitForShuttdown(); rerr != nil {
		log.Error("Run app error.", rerr)
	}

	log.Info("Stop server. Bye~")
}

func printVerion(log logger.Logger) {
	log.Info("Version: " + Version)
	log.Info("Build time: " + BuildTime)
	log.Info("Go version: " + GoVersion)
	log.Info("Commit hash: " + GitRevision)
}

func NewApplication(log logger.Logger, config *conf.Config) *application.Application { // nolint
	return application.NewApplication(context.Background(), log)
}
