package http

import (
	"net/http"

	"{{.module}}/config"
	"github.com/gin-gonic/gin"
)

func GetServer() http.Handler {
	gin.EnableJsonDecoderUseNumber()
	root := gin.Default()
	router := root.Group(config.DefaultConfig.Application.HttpPrefix)
	router.GET("/ping", func(c *gin.Context) { c.String(http.StatusOK, "pong") })
	router.GET("/ip", func(c *gin.Context) { c.String(http.StatusOK, c.ClientIP()) })

	return root
}