package grpc

import (
	"github.com/google/wire"
	"google.golang.org/grpc"
)

var GRPCsProvider = wire.NewSet()

func RegistGRPCS() func(grpc.ServiceRegistrar) {
	return func(sr grpc.ServiceRegistrar) {
	}
}
